{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}

{% assign collection = collections[section.settings.collection] %}
<div>section json {{ section.settings | json }}</div>
<h2>{{ collection.title }}</h2>
{% for product in collection.products %}
  <a href="{{ product.url }}">
    <p>{{ product.title }}</p>
    <p>{{ product.price | money }}</p>
  </a>
{% endfor %}
